html{height:100%}
*{
    margin: auto;
}
body{
    background-color:#ffffff;
    position: relative;
    min-height: 110vh;
}
main{
    position: relative;
}

li {
    margin-bottom: 10px;
}
.h2{
    
    color: rgb(0, 0, 0);
    font-size: xx-large;
    margin-block-start: 0.83em;
    text-align: center;  

}
.h1{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: xxx-large;
    margin-top: 20px;
    
}
.l1{
    background:rgb(18, 199, 169);
    text-decoration: none;
    font-size: x-large;
    margin: 10px;
    text-align: center;
    width: 120px;  
    
}

.img{
    width: 33vh;
    height: 37vh;
    border-radius: 60px;
    margin-right: 3vh;
}

.header {
    background-color:rgb(18, 199, 169) ;
    width: 100%;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    
    
     
}
.menu{
    margin:auto;
    text-align: center;
    padding: 1%;
    
}
.menu li a{
    padding: 20px;
    display: block;
    color: white;
      
}
.menu li{
    display: inline-block;
    
}


.p{
    font-size: xxx-large;
    margin-bottom: 3%;
    

}
.cajatexto {

    
    background-color: #ffffff;
    border:18px solid rgb(209, 201, 201);
    text-align: center;
    width: 100vh;
    height: 80%;
    box-sizing: border-box;
    font-size: x-large;
    margin-top:auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contenedor{
    width: 80%;
    display: flex;
    margin-top: 95px;
    position: relative;
    justify-content: center;
       
}
.titulo-caja{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}





@media screen and (max-width:1200px){
    .header{
        width: 100%;
    }
    .h2{
        text-align: center;
    }
}

@media screen and (max-width:1024px){
    .header{
        width: 100%;
    }
    .h2{
        text-align: center;
    }
}



@media (max-width:550px){
    .contenedor{
        display: flex;
        justify-content: center;
    }
    .cajatexto {
        width: 80%;
        height: 30VH;
        margin-left: 0px;
        }
        .h2{
            text-align: center;
        }
        
    .footer{
        background:rgb(179,147,124);
        width: 100%;
        bottom: 0px;
        text-align: center;
        top: 100vh;
        }
        .cajatexto {
            width: 80%;
            height: 30VH;
            margin-left:3vh;         
            top: 65%;
                }}

    




@media(max-width:500px){

    .header{
        
        width: 48vh;
        z-index: 10;
        }
        .footer{
            background:rgb(148, 143, 140);
            height: 5px;
            width: 100vh;
            text-align: center;
            margin-top: 100vh;
            }
        .h1{
            text-align: center;
            
            
        
        }
        .img{
            position: relative;
            margin-left: 0;
            align-items: center;
            max-width: 100%; /* La imagen no sobrepasará el ancho del contenedor */
            height: auto;
            display: block; /* Hace que la imagen sea un bloque, para ocupar todo el ancho disponible */
            

        }
        .h2{
            text-align: center;
        }
        .cajatexto{
            position: relative;
            margin: 10px auto;
            width: 80%;
            height: auto;
            margin-top: 0;
            top: auto;
            left: auto;
           
            
            
        }}







@media screen and (max-width:320px){
    .h1{
    margin-left: 28vh;
    font-size: 3vh;
         }
    .h2{
        margin-left: 28vh;
    }
   
    .footer{
        background:rgb(160, 157, 156);
        height: 5px;
        width: 100vh;
        text-align: center;
        margin-top: 200vh;
        }
    
    .img{
        margin-left: 20%;     
    }
    .cajatexto {
        width: 80%;
        height: 30VH;
        margin-top: 28vh;
        position: absolute;
        top: 65%;
        margin-left: 50%;
            }

    .header{
        background-color:rgb(29, 133, 131) ;
        width: 83vh;
        z-index: 10;
        }
}

.footer{
    background:#949494;
    height:5em;
    width: 100%;
    bottom: 0px;
    position: absolute;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
}


 